ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  background-color: var(--dark-background-color);
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.app__logo_text {
  display: flex;
  align-items: center;
  gap: 1em;
}

.title {
  color: var(--beige-color);
}

.logo {
  width: 4.5em;
}

.nav__list_item {
  text-align: center;
}

.nav__link {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white-color);
}

.cart__container {
  display: grid;
  justify-content: center;
  margin-top: 1em;
  position: relative;
  display: flex;
  cursor: pointer;
}

svg.cart {
  width: 3em;
}

.cart__items_counter {
  position: absolute;
  background-color: var(--white-color);
  padding: 0.2em 0.5em;
  border-radius: 50%;
  color: var(--brown-color);
  font-weight: bold;
  transform: translate(100%, -50%);
}

@media (min-width: 37.5em) {
  .menu__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
  }

  .nav__list,
  .links {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}
