.home__section_style_one {
  color: var(--dark-background-color);
}

.home__section_style_two {
  background-color: var(--dark-background-color);
  color: var(--white-color);
}

.home__section_content {
    display: grid;
    gap: 1em;
}

@media (min-width: 37.5em) {
  .home__section_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}