@keyframes slideInFromLeft {
  from {
    transform: translateX(25%);
  }
  75% {
    transform: translateX(-2%);
  }
  to {
    transform: translateX(0%);
  }
}

.image_container {
  position: relative;
}

.image {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  min-height: 200px;
}

.currentPosition {
  display: block;
  text-align: right;
  position: absolute;
  background-color: var(--dark-background-color);
  color: var(--white-color);
  right: 0;
}

.previousButton,
.nextButton {
  height: 100%;
  position: absolute;
  appearance: none;
  border: none;
  background-color: transparent;
  top: 0;
  padding: 1em;
}

.previousButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.previousButton:hover,
.nextButton:hover {
  background-color: rgba(128, 128, 128, 0.336);
  cursor: pointer;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 0.75em;
  gap: 0.5em;
}

.dot {
  width: 10px;
  height: 10px;
  border: 2px solid var(--brown-color);
  border-radius: 50%;
}

.dot:hover,
.dot.active {
  background-color: var(--dark-background-color);
  cursor: pointer;
}
